<?php  // Moodle configuration file

unset($CFG);
global $CFG;
$CFG = new stdClass();

$CFG->dbtype    = 'mysqli';
$CFG->dblibrary = 'native';
$CFG->dbhost    = '{{ moodle_db_host }}';
$CFG->dbname    = '{{ moodle_db_name }}';
$CFG->dbuser    = '{{ moodle_db_username }}';
$CFG->dbpass    = '{{ moodle_db_password }}';
$CFG->prefix    = '{{ moodle_db_prefix }}';
$CFG->dboptions = array (
  'dbpersist' => 0,
  'dbsocket' => 0,
  'dbport' => {{ moodle_db_port }},
);

$CFG->wwwroot   = '{{ moodle_wwwroot }}';
$CFG->dataroot  = '{{ moodle_dataroot }}';
$CFG->admin     = 'admin';

$CFG->directorypermissions = 0777;

$CFG->passwordsaltmain = '{{ moodle_passwordsaltmain }}';

{% for config in moodle_extra_config %}
    $CFG->{{ config.name }} = {{ config.value }};
{% endfor %}

require_once(dirname(__FILE__) . '/lib/setup.php');

// There is no php closing tag in this file,
// it is intentional because it prevents trailing whitespace problems!
